%html{:lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title RPS
    %link{:href => "/public/css/bootstrap.css", :rel => "stylesheet"}
    %link{:href => "/public/css/bootstrap-responsive.css", :rel => "stylesheet"}
    %link{:href => "public/css/style.css", :rel => "stylesheet"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %center
            %h3 RPS

      .row.span2
        %h5 PLAY HERE!
        - if (aux == 'Choose one')
          .row.span1
            - throws.map do |x|
              %a{:href => "?choice=#{x}"} 
                - if ("#{x}" == 'rock')
                  %img{:src => 'http://banot.etsii.ull.es/alu4103/piedra2.png', :alt => 'Rock'}
                - elsif ("#{x}" == 'paper')
                  %img{:src => 'http://banot.etsii.ull.es/alu4103/papel2.png', :alt => 'Scissors'}
                - elsif ("#{x}" == 'scissors')
                  %img{:src => 'http://banot.etsii.ull.es/alu4103/tijeras2.png', :alt => 'Paper'}
                - else 
                  %a{:href => '/'}
        - else 
          .row.span1
            %img{:src => 'http://banot.etsii.ull.es/alu4103/piedra2.png', :alt => 'Rock'}
            %img{:src => 'http://banot.etsii.ull.es/alu4103/papel2.png', :alt => 'Scissors'}
            %img{:src => 'http://banot.etsii.ull.es/alu4103/tijeras2.png', :alt => 'Paper'}

    .container
      %center
        .row.span5
          %h2 Player 1
          - if(player_throw == 'rock')
            %img{:src => 'http://banot.etsii.ull.es/alu4103/piedra.png', :alt => 'Rock', :width => '100px', :height => '30px', :border => '2px'}
          - elsif (player_throw == 'scissors')
            %img{:src => 'http://banot.etsii.ull.es/alu4103/tijeras.png', :alt => 'Scissors', :width => '100px', :height => '30px', :border => '2px'}
          - elsif (player_throw == 'paper')
            %img{:src => 'http://banot.etsii.ull.es/alu4103/papel.png', :alt => 'Paper', :width => '100px', :height => '30px', :border => '2px'}

        .row.span2
          %h2 VS

        .row.span4
          %h2 Player 2
          - if(computer_throw == 'rock')
            %img{:src => 'http://banot.etsii.ull.es/alu4103/piedra.png', :alt => 'Rock', :width => '100px', :border => '2px'}
          - elsif (computer_throw == 'scissors')
            %img{:src => 'http://banot.etsii.ull.es/alu4103/tijeras.png', :alt => 'Scissors', :width => '100px', :border => '2px'}
          - elsif (computer_throw == 'paper')
            %img{:src => 'http://banot.etsii.ull.es/alu4103/papel.png', :alt => 'Paper', :width => '100px', :border => '2px'}
    
        .row.span12
          - if (anwser == 'TIE')
            %h4 TIE
          - elsif (anwser == 'WIN')
            - if ((player_throw == 'rock') && (computer_throw =='scissors'))
              %img{:src => 'http://banot.etsii.ull.es/alu4103/ganapiedra.png', :alt => 'Gana Piedra'}
              %h4 PLAYER 1 WIN =)!
            - elsif ((player_throw == 'scissors') && (computer_throw == 'paper'))
              %img{:src => 'http://banot.etsii.ull.es/alu4103/ganatijeras.png', :alt => 'Gana Tijeras'}
              %h4 PLAYER 1 WIN =)!
            - elsif ((player_throw == 'paper') && (computer_throw == 'rock'))
              %img{:src => 'http://banot.etsii.ull.es/alu4103/ganapapel.png', :alt => 'Gana Papel'}
              %h4 PLAYER 1 WIN =)!

          - elsif (anwser == 'LOSE')
            - if ((computer_throw == 'rock') && (player_throw =='scissors'))
              %img{:src => 'http://banot.etsii.ull.es/alu4103/ganapiedra.png', :alt => 'Gana Piedra'}
              %h4 OUCH! PLAYER 2 WIN =(
            - elsif ((computer_throw == 'scissors') && (player_throw == 'paper'))
              %img{:src => 'http://banot.etsii.ull.es/alu4103/ganatijeras.png', :alt => 'Gana Tijeras'}
              %h4 OUCH! PLAYER 2 WIN =(
            - elsif ((computer_throw == 'paper') && (player_throw == 'rock'))
              %img{:src => 'http://banot.etsii.ull.es/alu4103/ganapapel.png', :alt => 'Gana Papel'}
              %h4 OUCH! PLAYER 2 WIN =(

    %a{:href => '/'}
      %button.btn.btn-danger.btn-default 
        Try again!
        %i.icon-white.icon-thumbs-up

    .row.span12 
      %center
        %form.form-inline
          %br
          %br
          %label
            %h5 WIN
            %input.input-small{name: "twin", type: "text", value: "#{win}"}
            %br
          %label
            %h5 LOSE
            %input.input-small{name: "twin", type: "text", value: "#{lose}"}
            %br
          %label
            %h5 TIE
            %input.input-small{name: "twin", type: "text", value: "#{tie}"}
            %br
          %label
            %h5 PLAY
            %input.input-small{name: "twin", type: "text", value: "#{playit}"}
            %br

    .row.span12
      .footer
        %h6 
          Madelaine Martin Pazo.
        %h6   
          ETSII. ULL

    %script{:src => "/public/js/bootstrap.js"}




